input[type = "button"].button-adm-page, #button-cadastrar-adm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #313d17;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    margin-top: auto;
    font-size: larger;
    height: 7vh;
}

.adm-card {
    display: flex;
    flex-direction: row;
    padding: 5vh 5vw;
    justify-content: center;
    background-color: white;
    width: 40vw;
    border: 2px solid black;
    border-radius: 10px;
}