#cart {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10vh 10vw;
}

#bottom_info {
    display: flex;
    justify-content: space-evenly;
}

#shipping, #total_cost {
    padding: 2vw;
    height: auto;
}

#input_calculate_cep {
    justify-content: center;
    color: white;
    background-color: #313D17;
    border: 1px solid black;
    border-radius: 10px;
}

#input_cep, #input_calculate_cep, .cost {
    width: 20vw;
    height: auto;
}

.cost {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
