#login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "Login     Form"
        "Login     Form"
        "Cadastrar Form";
    width: 70%;
    margin-top: 20vh;
    margin-bottom: 20vh;
    padding: 50px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
}

h1 {
    grid-area: Login;
    margin-top: 10%;
}

.form {
    grid-area: Form;
}

input[type="button"] {
    grid-area: Cadastrar;
}

form label,
input {
    display: flex;
    margin-bottom: 2vh;
}

.boxes-inputs, input[type="button"] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input[type="button"],
.boxes-inputs input[type="submit"] {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #313d17;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    margin-top: auto;
    font-size: larger;
}

input {
    width: 20vw;
}

input[type="button"]:active,
.boxes-inputs input[type="submit"]:active {
    transform: translateY(1px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

input[type="button"]:hover,
.boxes-inputs input[type="submit"]:hover {
    cursor: pointer;
}

@media (max-width: 600px) {
    #login {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .boxes-inputs {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    input[type="button"],
    .boxes-inputs input[type="submit"],
    input {
        width: 40vw;
    }
}