#page-payment {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10vh 5vh;
    background-color: white;

}

input {
    width: 25vw;
}

.visa-payment {
    background: white url(../../../images/logos/pagamento/visa.png) right no-repeat;

    background-size: 5vh;
}
.pix-payment {
    background: white url(../../../images/logos/pagamento/pix.svg) right no-repeat;
    background-size: 3.5vh;
}

.boleto-payment {
    background: white url(../../../images/logos/pagamento/barcode.png) right no-repeat;
    background-size: 5vh;
}

.new-card-payment {
    background: white url(../../../images/footer/formas_de_pagamento/card-default-outline.png) right no-repeat;
    background-size: 4.5vh;
}

@media (max-width: 600px) {
    input {
        width: 40vw;
    }
}