#page-user {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
}

#buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    width: 20vw;
    
}

.welcome-card {
    height: 40vh;
    width: 50vw;
    background-color: white;
    padding: 3rem;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 5vw;
}

.button-personal-page {
    height: 20vh;
    width: 15vw;
    margin: 5vh 0vw;
    color: white;
    background-color: #313D17;
    border: 1px solid black;
    border-radius: 10px;
}

#user-card {
    display: flex;
    flex-direction: row;
    padding: 5vh 5vw;
    justify-content: center;
    background-color: white;
    width: 40vw;
    border: 2px solid black;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .welcome-card {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
    }

    #page-user {
      flex-direction: column;
      padding: 1vh 1vw;
    }
  
    #buttons {
      flex-direction: row;
      justify-content: space-between;
      height: auto;
      width: 100%;
    }

    #user-card {
        width: 90%;
    }

    .button-personal-page {
        width: 40%;
    }
  }
  