#complete-card-product {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    width: 75%;
    height: 55vh;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 80px;
}

#not-image {
    margin-left: 10px;
}

#product-image-complete {
    height: 25vh;
}

input[type="number"],
#add-cart-product {
    width: 15vw;
    height: 8vh;
}

#add-cart-product{
    border: none;
    color: white;
    background-color: #313D17;
}

#inputs {
    display: flex;
    justify-content: space-around;
}

#add-cart-product {
    border-radius: 5px;
}


@media (max-width: 800px) {
    #complete-card-product {
        flex-direction: column;
        height: 90vh;
    }

    #product-image-complete {
        height: 30vh;
    }

    #inputs input[type="number"],
    #add-cart-product {
        margin-top: 10px;
        width: 25vw;
        height: 8vh;
    }
}