@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Raleway&display=swap');
footer {
    display: flex;
    background-color: #313D17;
    color: white;
    font: normal 1.2em 'Raleway';
    text-align: center;
    justify-content: center;
    padding: 1vw 7vw 1vw 1vw;
    margin-top: 3vw;
}

#ajuda_suporte {
    flex: 3;
}

#atendimento {
    flex: 3;
}

#atendimento img {
    width: auto;
    height: 6vh;
    filter: invert();
}

#formas_pagamento {
    flex: 2;
}

#formas_pagamento img {
    width: 3.5vw;
    height: auto;
    filter: invert();
    margin: 0px 10px;
}

#redes_sociais {
    flex: 3;
}

#redes_sociais img {
    width: auto;
    height: 7vh;
    filter: invert();
    margin: 0px 10px;
}

#logo_footer {
    flex: 1;
    align-self: center;
}

#logo_footer img {
    width: auto;
    height: 18vh;
}

@media(max-width: 800px) {
    #atendimento {

    }
    #formas_pagamento {display:none}

    #redes_sociais {

    }

    #logo_footer {display:none}

}