#produtos-encontrados {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content:first space-between;
    align-items: flex-start;
    width: 80%;
}