#page-user {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
}

#buttons-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    width: 20vw;
    
}

.welcome-card {
    width: 50vw;
    background-color: white;
    padding: 3rem;
    border: 2px solid black;
    border-radius: 10px;
}

.button-personal-page, .dell-personal-page {
    height: 20vh;
    width: 15vw;
    margin: 5vh 0vw;
    color: white;
    background-color: #313D17;
    border: 1px solid black;
    border-radius: 10px;
}

.dell-personal-page {
    background-color: red;
}

#user-card {
    display: flex;
    flex-direction: row;
    padding: 5vh 5vw;
    justify-content: center;
    background-color: white;
    width: 40vw;
    border: 2px solid black;
    border-radius: 10px;
}

@media (max-width: 1200px) {
    .welcome-card {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
    }

    #page-user {
      flex-direction: column;
      padding: 1vh 1vw;
    }
  
    #buttons-user {
      flex-direction: row;
      justify-content: space-evenly;
      height: auto;
      width: 100%;
    }


    #user-card {
        width: 90%;
    }

    .button-personal-page, .dell-personal-page {
        width: 35%;
        height: 10vh;
        margin: 1vh 2vw;
    }
  }
  