nav {
    display: flex;
    background-color: #313d17;
    color: #ffffff;
    height: 3rem;
    width: 100%;
}

#list-icons, ul#navbar-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    margin-top: 0.3vw;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.3em;
}

.menu-button {
    display: none;
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 1em;
    cursor: pointer;
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    
    ul#navbar-list {
        flex-direction: column;
        align-items: center;
        display: none;
    }
    
    ul#navbar-list.open {
        display: flex;
    }
    
    li {
        margin-bottom: 10px;
    }

    #list-icons {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 40%;
    }
    
    .menu-button {
        display: block;
        height: 6vh;
    }

    #bar-icon {
        height: 4vh;
    }
}