nav {
    display: flex;
    align-items: center;
    background-color: #313d17;
    color: #ffffff;
    height: 3rem;
    width: 100%;
}

ul#navbar-list {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.3em;
}

.menu-button {
    display: none;
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 1em;
    cursor: pointer;
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
        height: auto;
    }

    ul#navbar-list {
        flex-direction: column;
        align-items: center;
        display: none;
    }

    ul#navbar-list.open {
        display: flex;
    }

    li {
        margin-bottom: 10px;
    }

    .menu-button {
        display: block;
        height: 6vh;
    }

    #bar-icon {
        height: 4vh;
    }
}