@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Raleway&display=swap');
footer {
    background-color: #738C3E;
    font: normal 1em 'Raleway';
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px 120px 20px 20px;
}

.ajuda_suporte {
    flex: 3;
}

.atendimento {
    flex: 3;
}

.atendimento img {
    width: 20%;
    height: auto;
}

.formas_pagamento {
    flex: 2;
}

.formas_pagamento img {
    width: 25%;
    height: auto;
}

.redes_sociais {
    flex: 3;
}

.redes_sociais img {
    width: 15%;
    height: auto;
}

.logo_footer {
    flex: 1;
    align-self: center;
}

.logo_footer img {
    width: 120%;
    height: auto;
}