@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Raleway&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #f2f2f2;
    font: normal 1em 'Raleway';
}

main {
    display: grid;
    border: 2px solid black;
    border-radius: 10px;
    gap: 0px 50px;
    padding: 50px 75px;
    margin: 75px 300px;

    font: normal 3em 'Raleway', sans-serif;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px 100px;

    grid-template-areas: 
        "login email"
        "login senha"
        "cadastro continuar";
}

.titulo_login {
    grid-area: login;
    display: flex;
    justify-content: center;
    align-items: center;
}
.email {
    grid-area: email;
}
.senha {
    grid-area: senha;
}
.email,.senha {
    display: flex;
    flex-direction: column;
}

input[type="email"], input[type="password"] {
    height: 5vh;
    font: normal 0.5em 'Raleway', sans-serif;
}

.cadastro {
    grid-area: cadastro;
}

.continuar {
    grid-area: continuar;
}

.botao_cadastrar, .botao_login {
    background-color: #738c3e;
    color: #FFFFFF;
    border: 2px solid black;
    border-radius: 10px;
    font: normal 0.5em 'Raleway', sans-serif;
}

.botao_cadastrar:hover, .botao_login:hover {
    cursor:pointer;
}
